# CRITICAL: Secrets and Environment
.env

# VIRTUAL ENVIRONMENTS
**/.venv/
venv/
env/

# PYTHON ARTIFACTS
**/__pycache__/
**/.pytest_cache/
*.pyc
*.pyo
*.pyd
*.egg-info/

# TESTING FRAMEWORK ARTIFACTS (Pytest)
.pytest_cache/

# BUILD/DISTRIBUTION ARTIFACTS
build/
dist/

# DATA 
**/data/ 

# CRITICAL DOCKER/POSTGRES ARTIFACTS
pg_data/ 

# IDE / EDITOR FILES
.idea/      # PyCharm
.vscode/    # VS Code
.DS_Store